
h1{
    margin-top: 50px;
    font-size: 5em;
    font-weight: 900;
}
.navbar{
    background-color: #999999;
    border: 5px solid;
}
.nav-link,
.navbar-brand,
.top {
    color: black;
    cursor: pointer;
 }
.nav-link:hover {
    color: white;
}
.navbar-collapse{
    justify-content: flex-end;
}
#nav-list li{
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    border-bottom: 3px solid black;
    margin: 0;
}
#top{
    display: block;
    margin: auto;
    background-color: #999999;
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: 10rem;
    font-size: 20px;
}
#top:hover{
    text-decoration: none;
    color: white;
}




